<section class="col container-fluid ctn">
  {{#each convs as |conv|}}
    {{#if conv}}
      <div class="row container-fluid d-flex justify-content-between ctn-conv">
        {{#each conv as |element|}}
          {{#if element.dest}}
            {{#each element.dest as |dest|}}
              {{#if dest.pseudo}}
                {{#if element._id}}
                  <p class="{{element._id}}">{{dest.pseudo}}</p>
                {{/if}}
              {{/if}}
            {{/each}}
          {{/if}}
          {{#if element.messages}}
            {{#each element.messages as |value|}}
              {{#if value}}
                {{#if @last}}
                  {{#each value as |val|}}
                    {{#if val.message}}
                      <p>{{val.message}}</p>
                    {{/if}}
                    {{#if val.date}}
                      <p>{{fromNow val.date}}</p>
                    {{/if}}
                  {{/each}}
                {{/if}}
              {{/if}}
            {{/each}}
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
</section>
