<form method="post" action="/parametres/mdp">
  <div class="form-group">
    <label for="newMdpInput" class="col-sm-2 col-form-label form-control-lg">Mot de passe</label>
    <input type="password" name="oldMdp" class="form-control-plaintext form-control-lg" id="oldMdpInput" placeholder="Entrer votre mot de passe actuel !" style="text-align:center;">
    <input type="password" name="newMdp" class="form-control-plaintext form-control-lg" id="newMdpInput" placeholder="Entrer votre nouveau mot de passe !" style="text-align:center;">
    <input type="password" name="reNewMdp" class="form-control-plaintext form-control-lg" id="reNewMdpInput" placeholder="confirmer votre nouveau mot de passe !" style="text-align:center;">
    <input type="submit" class="btn btn-dark">
  </div>
</form>
