<form method="post" action="/parametres/desactivation">
  <div class="form-group">
    <label for="newPseudoInput" class="col-sm-2 col-form-label form-control-lg">Désactivation du compte</label>
    <p>Pour désactiver votre compte, entrer votre mot de passe...</p>
    <input type="password" name="confirmMdp" class="form-control-plaintext form-control-lg" id="newPseudoInput" placeholder="Entrer votre mot de passe !" style="text-align:center;">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" name="checkDesact" required id="checkDesact">
      <label class="form-check-label" for="checkDesact">... et cliquer pour confirmer votre choix !</label>
    </div>
    <input type="submit" class="btn btn-dark">
  </div>
</form>
