<main>
  {{#if success}}
  <div class="alert alert-success" role="alert">
    {{message}}
    </div>
  {{/if}}
  {{#if isConnected}}
    {{>tweetBar}}
  {{else}}
  {{/if}}
  {{>tweetsHome tweets=tweets}}
</main>
