<main>
  {{#if success}}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
  {{/if}}
  {{#if isConnected}}
    {{>tweetBar}}
  {{else}}
  {{/if}}
  {{#if isConnected}}
    {{>tweetsHome tweets=tweets user=user}}
  {{/if}}
</main>
