<main>
  <picture>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png" class="img-fluid" alt="bannière du profil">
    <img src="https://lh3.googleusercontent.com/proxy/OpDgCXgGqfha558w4gBedkjqHj7mY8r7uoMCuMKbf6XcW12o0KnHM-LevTvCr-vizzmpS-_sX8XMHc9C5ztWpj1zvIHkziVLp6FXjmp7__4pARAXgs2ItbpGvdxAQg" class="img-thumbnail rounded float-left profil" alt="image du profil">
  </picture>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h2>{{pseudo}}</h2>
      </div>
      <div class="col">
        <button type="button" class="btn btn-dark" name="button">éditer le profil</button>
      </div>
    </div>
  </div>
</main>
