<main>
<div class=".container-fluid">
<img src="https://i.pinimg.com/originals/12/44/66/1244669904e7cb1be65ffdfb80475148.jpg" class="img-fluid" alt="bannière">
</div>
<nav class="navbar navbar-light bg-light">
<h2>{{pseudo}}</h2>
<button type="button" name="button" class="btn btn-lg btn-secondary">éditer le profil</button>
</nav>
<nav class="nav justify-content-around">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/mes-twinodes">Mes TwiNodes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mes-reponses">Mes réponses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/aime">J'aime</a>
    </li>
  </ul>
</nav>

</main>
